<!DOCTYPE html>
<html> 
<head> 
	<title></title>
</head>
<body bgcolor="lightgreen">
	<pre>
		<form> 
			First Name : <input type="text" name= 'fn'>
			Last Name  : <input type="text" name= 'ln'>
			Address    : <input type="text" name= 'add'>
			Contact    : <input type="text" name= 'ph'>
			Email      : <input type="text" name= 'email'>
			Password   : <input type="text" name= 'pwd'>
			Gender     : <input type="radio" name= 'g' value='Male'> Male <input type="radio" name 'g' value='Female'> Female
			HObbies    : <input type="checkbox" name='ch1' value='Game'> Game <input type="checkbox" name='ch2' value='Music'> Music <input type="checkbox" name='ch3' value='movies'> Movies

			Education  : <select>
				<option value='GED'>GED</option>
				<option value='Bachelor'>Bachelor</option>
				<option value='Masters'>Masters</option>
				<option value='BIT'>BIT</option>
</select>

                        : <input type='file' name='browse'>
Feedback               : <textarea rows= "7" cols="25"></textarea>

<input type="Submit" value='Submit'> <input type='Reset' value="Reset">



</form>
</body>
</html>
