<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: lightblue;
    padding: 25px;
    margin: 25px;

}

h1 {
    color: blue;
    text-align: center;
	border:4px solid blue;
	padding:10px;
	background-color: white;
}

p {
    font-family: verdana;
    font-size: 20px;
}

a {
	font-family: verdana;
    font-size: 20px;
	color: green;
}

a:visited{
	color: orange;
}

a:hover{
	color:yellow;
}

#navigation{
	border: 2px solid black;
	width:20%;
	height:auto;
	text-align:center;
	float:left;
}

#article{
	border: 2px solid black;
	width: 75%;
	height:auto;
	float: left;
	margin-left: 20px;
	padding:20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
    background-color: #0D94D2;
}

li {
	float:left;
}

li a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #7BC143;
}


</style>
</head>
<body>

<h1>FARAWAY HANDICRAFTS</h1>
<ul>
  <li><a class="active" href="#home">HOME</a></li>
  <li><a href="#about-us">ABOUT US </a></li>
  <li><a href="#feedback.html"> FEEDBACK </a></li>
  <li><a href="#contact">CONTACT</a></li>
</ul>


<div style="clear:both"></div>
<div>

<br />
<div id="navigation">
<h2>Our Products</h2>
<a href="https://www.google.com/search?q=statues+handmade&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjDzJTC0f3UAhUm3YMKHbZeDUMQ_AUIBigB&biw=1242&bih=535">Statues</a><br /><br />
<a href="https://www.google.com/search?q=handmade+papers&source=lnms&tbm=isch&sa=X&ved=0ahUKEwipi4i70f3UAhVn6IMKHRvmBf0Q_AUIBigB&biw=1242&bih=535">Handmade Papers</a><br /><br />
<a href="https://www.google.com/search?q=handmade+papers&source=lnms&tbm=isch&sa=X&ved=0ahUKEwipi4i70f3UAhVn6IMKHRvmBf0Q_AUIBigB&biw=1242&bih=535#tbm=isch&q=handmade+jewellery">Jewellery</a><br /><br />
<a href="https://www.google.com/search?q=handmade+papers&source=lnms&tbm=isch&sa=X&ved=0ahUKEwipi4i70f3UAhVn6IMKHRvmBf0Q_AUIBigB&biw=1242&bih=535#tbm=isch&q=handmade+clothing">Clothing</a><br /><br />

</div>


<div id="article">
<p>
Welcome to Faraway crafts Page! We are excited to share our journey of making statues and jewelry for decades that have been handed down from generations. Faraway Crafts was originated in Patan, Nepal, the hometown of master craftsmen. Now we are proud to introduce and promote these artistic hands in The United States as well. The Faraway Crafts’ greatest strength is its ability to manufacture and retain the finest artwork in handicraft industry within the reasonable price. 
 
It takes several months and skillful joint effort of 4-5 craftsmen to make one masterpiece. The result is a piece with a deep and abiding understanding of our mission and culture, and a showcase of our world-class artwork. With our in-depth knowledge of the handicraft industry in Nepal, along with years of extensive experience, we have touched the pulse of the customers across the globe by offering products that reflects the spirit and mystery of Nepalese and Newari culture and traditions. In addition, our handmade products win many hearts of citizens around the globe who are well aware of keeping eco-friendly environment. 
 
We strongly believe in commitment to our values and giving back to the society. Please, join in our effort in preserving and uplifting the traditional Arts and Crafts from Nepal. We look forward to doing business with you!
</p>

</div>

</div>

<div style="clear:both"></div>

<br />

<img src="manjushree set.jpg" alt="Statues" style="width: 100%;height:20%;">




</body>
</html>